html {
    color: rgb(17, 17, 17);
}

body {
	background-color : white;
	font-family:  arial ,helvetica, sans-serif;
	font-size: 12px;
}
img{
    border: 0
}


 
.line_holder{
	border: 1px solid #EEEEEE;
}


.floater-x{
	width : 100%;
	height: 50px;
	float: left;
}
.floater-y{
	width : 50%;
	height : 500px;
	float: left;
}



/* -----------------------------------------------------------  common begin ------ */
#body-cover{
	width:100%; 
	height:2000px;
	background: black; 
	position:absolute; 
	left:0; 
	right:0; 
	top:0; 
	bottom:0; 
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index:10; 
	 display:none;
}

.cm-waiting{
	background-image: url(../img/loading.gif);
	background-size:100% 100%;
}

.cm-titlebar{
	width: 100%;
	height: 50px;
	background-color: white;
	opacity: 0.6;
	filter:alpha(opacity=60); 
}

.cm-titlebar .cm-t-close{
	
}

.cm-item{
	color: green;
}

.cm-item a{
	display: block;
	width:100%;
	height:100%;
	color: green;
	text-decoration: none;
}

.cm-item a:hover, .cm-item a:link, .cm-item a:visited{
	text-decoration: none;
	color: green;
}

.cm-word-big{
	color:green;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 100px; /**/
}

.cm-item-select{
	background-color:  #ccebcf; /* #ccebcf;*/
}

.cm-table {
	border-collapse: collapse;
    border-spacing: 0;
	border-color: #cecece;
}

.cm-table td, .cm-table th{
 	max-width:100px;
 	min-width:60px;
    height: auto;
    
    font-size:12px;
 	border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px #DDDDDD;
    text-align: center;
    word-break:break-all;
}

.cm-table th{
	background-color: #ccebcf;
}

.cm-table tr:hover{
	background-color:  #ccebcf;

	}

.cm-can-hover{
}

.cm-can-hover:hover{
	background-color:  #ccebcf;
}
.cm-can-select{}
 
.cm-form{
	width:400px;
	height:auto;
	background-color:white;
	padding-bottom:20px;
	
	border: 1px solid green;
}


.cm-form .cm-f-item{
	width:100%;
	height:32px;
	margin: 5px;
	float: left;
}

.cm-form  .cm-f-i-label{
	width:30%;	
	font-weight:bold;
	color: #474747;
	float: left;
}

.cm-form  .cm-f-i-label span{
	float:right; font-size : 12px;
	padding-right: 10px;
}

.cm-form  .cm-f-i-input{
	font-size:12px;
	width:70%;	
	float: left;
}

.cm-form  .cm-f-i-input input{
	font-size:12px;
	width:180px;	
	float: left;
}

.cm-form  .cm-f-i-input select{
	width:180px;	
	float: left;
}


.cm-form .cm-f-buttons{
	width: 90%;
	margin-left: 30px;
}

.cm-form .cm-f-button{
	width:40%;
	height:32px;
		margin: 5px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		box-shadow: 0 5px 8px #F1F1F1 inset;
}

.common-button-ok {
	background: url(../img/buttons.jpg) no-repeat 0 -80px;
}

.common-button-ok:hover{
	background: url(../img/buttons.jpg) no-repeat 0 -120px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.common-button-cancel{
	background: url(../img/buttons.jpg) no-repeat 0 -280px;
}

.common-button-cancel:hover{
	background: url(../img/buttons.jpg) no-repeat 0 -311px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.cm-form .cm-f-msg{
	
	font-family:  arial ,helvetica, sans-serif;
	font-size: 13px;
	line-height : 20px;
	
	width: 80%;
	height: auto;
	min-height:50px;
	margin: 20px;
	padding: 10px;
	
	border: 1px solid #eee;
	white-space: pre-wrap;
	word-wrap: break-word;
	
	float: left;
}

/* -----------------------------------------------------------  common end ------ */


/* top */
#hat{
	width : 100%;
	height:35px;
	background:url(../img/hat_bg.gif)  repeat-x scroll center top transparent;
	border: 0;
	margin-top: -7px;
	
}
#hat a:link, #hat a:visited{
	color: #004B91;
    text-decoration: none;
}
#hat-x1{
	width:20%;
	float: left;
	
}
#hat-x1 a{ 
	text-decoration:none;
	font-size: 12px;
	line-height: 32px;
	padding-left: 5px;
	padding-right: 5px;

}
#shoucang{
	width:150px;
	
	font-size: 12px; 
	line-height: 32px; 
	text-align: center;
	text-decoration:none;
	float: left;
}


.hat-qq{
	width:300px;
	height:30px;
	font-size: 12px; 
	
	line-height: 32px;
	float: right; 
}

.hat-qq div{
	text-align:center;
	display:inline-block;
	float: left;
}

.hat-qq img{
	margin-top:5px;
	opacity: 0.8;
	filter:alpha(opacity=80);
	float: left;
}
.hat-qq img:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}


#account-link{
	display:inline-block;
	height:30px;
	font-size: 14px; 
	font-weight: bold;
	line-height: 32px; 
	text-align: center;
	text-decoration:none;
}

#qqlogout{
	display:inline-block;
	height:30px;
	font-size: 12px; 
	line-height: 32px; 
	text-align: center;
	text-decoration:none;
	margin-left: 3px;
}

.hat-link-001{
	display:inline-block;
	height:30px;
	font-size: 14px; 
	font-weight: bold;
	line-height: 32px; 
	text-align: center;
	text-decoration:none;
	float:right;
}



.fenge001{
	width: 30px;
	height: 30px;
	color:#cecece;
	text-align: center;
	line-height: 32px; 
	font-size: 16px;
	font-weight: bold;
	float: right;
}
 

 #hat-x2 {
 	width:200px;
	margin-top: 2px; 
	font-size: 14px;
	float: left;
}


/*---------------------------------------------------------------- account -------------------------*/
#account-div{
	width: 800px;
	min-height:550px;
	margin:auto;
	padding-bottom:50px;
	border-bottom:1px solid green;
	background-color:white;
	z-index:50;
	display: none;
}
  
#account-menu{
	width: 20%;
	margin-top: 30px;
	float: left;
}
.account-menu-item{
	width: 98%;
	height:100px;
	border: 1px solid green;
}
#account-navigation{
	width: 75%;
	height: auto;
	font-size:12px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	display: none;
}
#account-money{
	width: 75%;
	margin-left: 30px;
	margin-top: 300px;
	margin-bottom: 100px;
	float: left;
	display: none;
}

#account-orders{
	margin-top: 30px;
	margin-left: 8%;
	min-width: 70%;
	max-width: 98%;
	float: left;
	display: none;
}
#account-orders-waiting{
	width: 50px;
	height: 50px;
	
}
#account-request-money{
	
	width: 60%;
	margin-top: 30px;
	margin-left: 8%;
	float: left;
	
}

#account-request-money-records{
	margin-top: 30px;
	margin-left: 8%;
	min-width: 70%;
	max-width: 98%;
		float: left;
	display: none;
}
#account-setting{
	margin-top: 30px;
	margin-left: 8%;
	width: 60%;
	float: left;
	 
}
#account-setting-sub{
}

/*----------------------------------------------------------------fan li ---------*/


#order-table,#money-records-table{
	width: 95%;
	border: 1px solid green;
}


/* --------------------------------------------------------------------------------------------head ------------------------------- */

#header{
	width: 1050px;
	margin-left:auto; margin-right:auto;
}
#header-y1{
	width: 1050px;
	height: 50px;
	margin-top: 50px;
	text-align:center;
	margin-left:auto; margin-right:auto;
	clear: both;
}
 
 #header-logo{
 	margin-left:-5px;
 	float: left;
 }
 
#header-search{
	margin-left:50px;
	margin-top:4px; 
	float: left;
}


#keyword{
	width : 400px;
	height: 32px;
	line-height:34px;
	font-size: 20px;
	font-family:arial,"ו";
	font-weight:400px;
	color:#999999;
	border: 3px solid #22b14c;
	border-right : 0px;
	border-radius:4px 0px 0px 4px;
	margin-left:10px;
	padding-left:5px;
	background-color:#ffffff;
	float: left;
}
#submit-search-btn{
	width : 100px;
	height: 40px;
	font-size : 20px;
	font-weight:bold;
	color:#ffffff;
	background-color:#22b14c;
	border-radius:0px 4px 4px 0px;
	border: 0px;
	float: left;
}
#submit-search-btn:HOVER{
	background-color:#15a435;
}	
 
#hot-words2{
   width:400px; 
   font:12px;
   font-weight:400px;
   font-style:normal;
   font-size-adjust:none;
   line-height:18px;
   margin-left:10px;
   padding-top: 5px;
   padding-right: 10px;
	clear: both;
}

#hot-words2 a{
	color:#333333;
	text-decoration: none;
	font-size: 12px;
	margin-right: 3px;
}
#hot-words2 span{
	color:#999999;
	font-size: 12px;
}
#hot-words2 a:HOVER{
	color:red;
	text-decoration: underline;
}





/* footer web infos*/

.footer-info,footer3{
	width: 600px;
	height: 50px;
	clear: both;
	margin-left:auto;margin-right:auto;
	
}
.footer-info a,footer3 a{
	width:99px;
	height:30px;
	color:#555555;
	font-size: 14px;
	font-weight:400px;
	font-family:  arial ,helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
	display:block;
	float:left;
}


/* footer logos*/
.footer-logo-links{
	width: 600px;
	margin-top:150px;
	margin-left: auto;margin-right: auto;
	clear: both;
}

.footer-logo{
	width: 75px;
	height: 40px;
	line-height:14px;
	color:#999999;
	text-align:center;
	display:block;
	overflow: hidden;
	border: 0px;
	float: left; 
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.footer-logo a {
	color:#999999;
	text-align:center;
	text-decoration:none;
	border: 0px;
}
.footer-logo a:LINK {
	color:#999999;
}

.footer-logo:HOVER {
	opacity: 1;
	filter:alpha(opacity=100);
}

.footer-logo img {
	display:block;
	border: 0px;
	overflow: hidden;
}


.footer-line{
	background: url(../img/footer_bg.gif)  no-repeat scroll center top transparent;;
	display: block;
	height: 20px; 
    text-align: center;
    clear: both;
}

.footer-copyright{
	height:20px;
	text-align: center;
	color: #555555;
    font-family: Arial,verdana,Tahoma,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 22px;
    clear: both;
}

.footer-copyright a{
	text-decoration:none;
	color: #999999	;
 
}

#footer-link{
	width : 100%;
	height:35px;
	margin-top: 170px;
	line-height:30px;
	font-size:12px;
	background:url(../img/hat_bg.gif)  repeat-x scroll center top transparent;
	border: 0;
	
	
}
#footer-link a:link, #footer-link a:visited{
	color: #004B91;
    text-decoration: none;
    margin-right: 20px;
}
#footer-link-x1{
	float: left;
}
#footer-link-x2{
	
}
#footer-link-x2 a{
	float: right;
}
 #footer3{
	width : 100%;
	height:35px;
	line-height:30px;
	font-size:12px;
	background:url(../img/hat_bg.gif)  repeat-x scroll center top transparent;
	margin-top:50px;
	border: 0;
	clear: both; 
	
	
}
#footer3 a{
	color: #004B91;
    text-decoration: none;
    margin-right: 20px;
}


#share-fee-div{
	display: none;
}


 
.common-box-002{
	width:300px;
	height:140px;
	background-color:white;
		display: none;
	position:absolute;

	border: 1px solid green;
}

.common-box-002 .cb002-button{
	width:90%;
	height:30px;
		margin: 5px;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		box-shadow: 0 5px 8px #F1F1F1 inset;
}


/*-----------------------------------------------------jquery ui custom*/
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #14a440 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #fff;
	font-weight: bold;
}

