body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family:  Arial, Helvetica, "\5b8b\4f53", sans-serif;}

.c-head{
	background-color: #fff;
}

.c-personal{
	font-size: 12px;
}
.c-personal nav{
	border: none;
}

.c-personal .navbar-nav > li > a{
	padding-top: 8px;
	padding-bottom: 8px;
}

.c-personal .navbar-nav > li > ul > li> a{
	padding-top: 8px;
	padding-bottom: 8px;
}

.c-imgbar{
	<!-- margin-top: -30px; -->
}

.c-search{
	margin-top: 20px;
	margin-bottom: 20px;
}
#logo{
	
	width: 180px;
	height: 45px; 
}

#keyword{
	margin-left:100px;
	width: 300px;
}
#search-btn{
	width: 100px;
	background-color:#22b14c;
	font-size : 16px;
	font-weight:bold;
	color:#ffffff;
}

#quick-search-btn{
	width: 100px;
	color: #22b14c;
	font-size : 18px;
}

.c-menu{
	
	font-size: 14px;
	font-weight: bold;
	
}

.c-menu nav{
	background-color:#22b14c;
}

.c-white{
	color:white;
}

<!-- search page -->

.c-title{
	color: #666;
	font-size : 12px;
}
 
.c-title :hover {
	color: green;
}
 
.c-comment{
	color: #6699CC;
	font-size:12px;
}
.c-price{
	font-size : 12px;
	font-weight : bold;
	color:red;
}
.c-source{
	font-size:13px;	
	font-weight:500;
	
	color:green;
}

<!-- bootstrap custom -->

// Mixins
 
 