h1{
	font-size: 18;
	line-height: 28px;
	font-weight: 400px;
	
}
 
.logo {
	clear: both;
	margin-top: 120px;
	text-align: center;
}
.logo:HOVER{
	opacity: 1;
	filter:alpha(opacity=100);
}
 

#search-input-div {
	width:640px;  
	
	margin-top: 80px;
	text-align:center;
	margin-left: auto;margin-right: auto;
} 

#keyword{
	width : 400px;
	height: 32px;
	font-size: 18px;
	font-family:arial,"ו";
	font-weight:400px;
	color:#999999;
	line-height:32px;
	opacity: 0.9;
	filter:alpha(opacity=90);
	border: 2px solid #999999; 
	border-radius:4px 4px 4px 4px;
	margin-left:100px;
	padding-left:5px;
	background-color:#ffffff;
	background-image: url(../img/water-print2.png) ;
	background-repeat:no-repeat;
	background-position: left center;
	float: left;
}
#submit-search-btn{
	width : 100px;
	height: 40px;
	font-size : 20px;
	font-weight:bold;
	color:#ffffff;
	background-color:#22b14c;
	margin-left:5px;
	margin-top:-2px;
	border-radius:4px 4px 4px 4px;
	border: 0px;
	float: left;
}
#submit-search-btn:HOVER{
	background-color:#15a435;
}	
#hot-words{

   width:400px; 
   font:12px;
   font-weight:400px;
   font-style:normal;
   font-size-adjust:none;
   line-height:18px;
   margin-left:50px;
   padding-top: 5px;
   padding-right: 10px;
	clear: both;
}
#hot-words a{
	color:#333333;
	text-decoration: none;
	font-size: 12px;
	margin-right: 3px;
}
#hot-words span{
	color:#999999;
	font-size: 12px;
}
#hot-words a:HOVER{
	color:red;
	text-decoration: underline;
}

