	            <div class="row clearfix">
					<div class="col-md-6 column">
						<p>
							$propertyName$
						</p>
					</div>
					<div class="col-md-6 column">
						<p>
							<%=entity.get$propertyNameInMethod$() %>
						</p>
					</div>
				</div>